:host {
  display: block;
}

.card {
  margin: 100px;
  width: 400px;
  height: 600px;
}

.turned-card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.turned-card.is-flipped {
  transform: rotateY(180deg);
}

.card-side {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  background-color: darkkhaki;
}

.card-front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back {
  background-color:darkolivegreen;
  transform: rotateY(180deg);
}

