:host {
  display: inline-block;
  position: relative;
  width: 100%;
}
h1,
h2,
h3 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  color: darkkhaki;
  text-align: center;
  padding: 20px;
  background-color: #f3eac8;
}

.animation {
  visibility: hidden;
}
