:host {
  display: block;
}

.card {
  width: 200px;
  height: 260px;
  perspective: 500px;

}

.card-content {
  width: 200px;
  height: 200px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-back,
.card-front{
  position: absolute;
    height: 200px;
    width: 200px;
    background:darkkhaki;
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;
}

.card-back {
  background-color: darkseagreen;
  font-family: 'Open Sans', sans-serif;
  transform: rotateY(180deg);
}

.turn .card-side {
  transform: rotateY(180deg);
}