:host {
  display: block;
  z-index: 10;
}

button {
  background-color: #fee163;
  box-sizing: border-box;
  float: right;
  border: none;
  color: black;
  padding: 15px 32px;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  behavior: smooth;
}

/*
.scrollTop {
  position: fixed; 
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}

*/
