:host {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.animal-card{
  background-color: rgb(233, 233, 233);
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
	grid-gap: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: 10px solid green;
}

.animal-card button {
    cursor: pointer;
    background-color: #ffffff; 
    border:0;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 8px;
}

.animal-card img{
  width: 150px;
  height: 150px;
  margin: 10px;
}

.small-title{
  margin-left: 0px;
  color: green;
}

.big-title{
  margin-left: 10px;
  color: green;
  position: absolute;

  font-size: 3em;
}



.false{
visibility: hidden;
}
.true{
  visibility: visible;
}