.section {
  background-color: #8da37bab;
  width: 99%;
  height: 50%;
  font-family: 'Open Sans';
  line-height: 25px;
  position: relative;
  display: block;
  margin-top: 50px;
}

.text {
  width: 35%;
  padding: 90px;
  margin-left: 650px;
  margin-top: -4%;
  position: relative;
}

.image {
  margin-left: 10%;
  margin-top: -25%;
  position: absolute;
}

img {
  width: 30%;
  border-radius: 15px;
  transition: 1s;
}

img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
