.gallery {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 300px 3fr 200px;
  position: relative;
  margin-left: 130px;
  margin-top: 150px;
}

.item1 {
  width: 250px;
  height: 250px;
}

img {
  width: 250px;
  height: 250px;
  transition: 1s;
}

img:hover {
  transform: scale(1.1);
  filter: grayscale(80%);
}
