:host {
  display: block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 99%;
  margin-left: 25%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #f3eac8;
  height: 100px;
  color: #444;
  cursor: pointer;
  padding: 8px 22px;
  width: 48%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.hide {
  visibility: hidden;
}
