.all {
  width: 100%;
  margin-top: 30px;
  position: relative;
  display: block;
}

.section1 {
  background-color: rgb(146, 168, 199);
  width: 50%;
  height: 50px;
  text-align: center;
}

.section1:hover {
  background-color: #7ca8e6;
}

.section1:hover p {
  color: black;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
}

.section1 p {
  color: white;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.section2 {
  background-color: #dbc393;
  float: right;
  width: 50%;
  height: 50px;
  text-align: center;
  margin-top: -50px;
}

.section2:hover {
  background-color: #e6c27c;
}

.section2:hover p {
  color: black;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
}

.section2 p {
  color: white;
  font-family: 'Open Sans', sans-serif;
}
